<div class="inputs">
  <img width="200" src="/logo.png" alt="logo" />

  <mat-form-field style="margin-top: 20px" appearance="outline">
    <mat-label>Selecione o veículo</mat-label>
    <mat-select (selectionChange)="selectCar($event)">
      @for (item of carModels; track item) {
      <mat-option [value]="item"> {{ item.name + " " + item.year }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Selecione a cor da lataria:</mat-label>
    <input  type="color" matInput (input)="onColorChange($event)" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cor das Rodas:</mat-label>
    <input type="color" matInput (input)="onWheelColorChange($event)" />
  </mat-form-field>
</div>
<div id="car-3d-container"></div>
